[user]
    name = Ferdinand Keller
    email = ferdinand.keller@proton.me
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHsRVs1aIXB6URW2Hlz16DlhHW7hxGju39C/sbh0OYcR

[gpg]
    format = ssh

[commit]
    gpgsign = true

[init]
    defaultBranch = main

[core]
    editor = code
